<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="keywords" content="OvO,OvO眼镜试戴，OvO智能试戴，眼镜试戴，根据脸型配眼镜">
    <meta name="description" content="OvO是你的眼镜挑选小助手，真正关注你的脸型和性格，推荐独适合于你的眼镜款式，让你再也不担心挑选眼镜的问题！">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <link type="image/icon" rel="shortcut icon" href="../static/images/bianse_logo.png">
    <link rel="stylesheet" type="text/css" href="../static/css/varbar.css"/>
    <title>OvO，让眼镜也能“量脸定制”</title>
</head>

<style>
.call{
    font-size:60px;
}

     .thick-yellow-border {
    border-color: yellow;
    border-width: 10px;
    border-style: solid;
    width: 1000px;

   /* border-radius: 50%;*/
  }
  a{
  text-decoration:none;
  color:#000000;
  }
    </style>



<body>
<div class="menu">  <!-- class选择器 -->
    <div class="nav"><h1>Welcome to OvO</h1> </div>
  </div>

<!-- <div>
    <h1 class="call"><b>让眼镜也能“量脸定制”！</b></h1>
</div> -->

<!-- <div>
<img class="thick-yellow-border" src="../static/images/post.jpg">
</div> -->

<div class="form">
<div>

    <button class="panbie"><a href="/Getphotos">脸型分析</a></button>
    <button class="fenxi"><a href="/Analysis">眼镜推荐</a></button>
</div>

<div>
    <button class="shidai"><a href="/Wear_Glass">眼镜试戴</a></button>
    <button class="goujing"><a href="Show_Links.html">购镜服务</a></button>
</div>

<div>
    <button class="lishi"><a href="History.html">历史纪录</a></button>
    <button class="lianxi"><a href="contact_us.html">联系我们</a></button>
</div>



</div>


</body>
</html>
